.wrapper {
  width: 92%;
  max-width: 1800px;
  min-width: 300px;
  height: 100%;
  padding-inline: clamp(2.5rem, 2.25vw, 4rem);
  margin-inline: auto;
}

.card__rounded {
  border-radius: 1.5rem;
}

small.error__msg {
  display: inline-block;
  color: $danger-clr;
  font-size: 1.4rem;
  font-family: dmsans;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}
