.category {
  min-height: 100vh;
  background-color: $black-clr;
  width: 100%;
  padding-top: clamp(4rem, 6.5vh, 6rem);
  padding-bottom: clamp(2rem, 3.5vh, 3rem);
  &__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: clamp(3rem, 2.75vw, 5rem);
  }
  &__leftSide {
    width: 33%;
    h1.logo {
      color: $green-clr--300;
      font-family: singleday, sans-serif;
      font-weight: 400;
      font-size: clamp(5rem, 2.9vw, 5.5rem);
      margin-bottom: clamp(1rem, 2vh, 1.6rem);
    }
    h2.sub__heading {
      font-size: clamp(4rem, 3.75vw, 7rem);
      font-family: inherit;
      font-weight: 600;
      color: $white-clr;
      line-height: clamp(6rem, 4.75vw, 9rem);
      margin-top: clamp(3rem, 5.5vh, 5rem);
      margin-bottom: clamp(4rem, 6.5vh, 6rem);
    }
  }
  &__selected--lists {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(1.5rem, 1.75vw, 3rem);
    margin-bottom: clamp(3rem, 4vh, 3.5rem);
  }
  &__selected--item {
    background-color: $green-clr--600;
    border-radius: 100px;
    padding: clamp(0.6rem, 1.3vh, 0.8rem) clamp(2rem, 1.55vw, 2.6rem);
    font-size: clamp(1.8rem, 1.26vw, 2.1rem);
    font-family: inherit;
    font-weight: 400;
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: clamp(0.6rem, 0.75vw, 1rem);

    span {
      color: $white-clr;
    }
    button {
      font-size: inherit;
      color: $green-clr--800;
      background-color: transparent;
      border: none;
    }
  }
  &__error {
    display: flex;
    align-items: flex-end;
    column-gap: clamp(0.6rem, 0.75vw, 1rem);
    color: $danger-clr;
    font-size: clamp(1.6rem, 1.2vw, 1.9rem);
    font-family: dmsans;
    font-weight: 400;
    letter-spacing: 0.1rem;

    line-height: 1.4rem;
  }
  &__rightSide {
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(180px, 1fr));
    gap: clamp(2rem, 2.25vw, 4rem);
    justify-content: end;
  }
  &__item {
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"]:checked + label {
      outline: 0.6rem solid $green-clr--400;
    }
    label {
      &[aria-placeholder="action"] {
        background-color: $action-clr;
      }
      &[aria-placeholder="drama"] {
        background-color: $drama-clr;
      }
      &[aria-placeholder="romance"] {
        background-color: $romance-clr;
      }
      &[aria-placeholder="thriller"] {
        background-color: $thriller-clr;
      }
      &[aria-placeholder="western"] {
        background-color: $western-clr;
      }
      &[aria-placeholder="horror"] {
        background-color: $horror-clr;
      }
      &[aria-placeholder="fantasy"] {
        background-color: $fantasy-clr;
      }
      &[aria-placeholder="music"] {
        background-color: $music-clr;
      }
      &[aria-placeholder="fiction"] {
        background-color: $fiction-clr;
      }
      display: inline-block;
      width: 100%;
      text-align: center;
      padding: clamp(0.6rem, 0.75vw, 1rem);
      cursor: pointer;
      p {
        color: $white-clr;
        font-family: dmsans;
        font-size: clamp(2rem, 1.5vw, 2.5rem);
        font-weight: 400;
        text-align: left;
        margin-bottom: clamp(2rem, 3.5vw, 3rem);
      }
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
  &__btn--container {
    text-align: end;
    margin-top: clamp(3rem, 5.5vh, 5rem);
    button {
      padding: clamp(0.6rem, 1.3vh, 0.8rem) clamp(2rem, 1.55vw, 2.6rem);
      font-size: clamp(1.8rem, 1.26vw, 2.1rem);
      font-family: dmsans;
      font-weight: 400;
      color: $white-clr;
      background-color: $green-clr--600;
      border-radius: 100px;
    }
  }
}
