.movies {
  min-height: 100vh;
  background-color: $black-clr;
  width: 100%;
  padding-block: clamp(2rem, 3.3vh, 2.8rem);
  &__wrapper {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: clamp(1rem, 1.9vh, 1.4rem);
      .logo {
        color: $green-clr--300;
        font-family: singleday, sans-serif;
        font-weight: 400;
        font-size: clamp(4.2rem, 2.55vw, 4.6rem);
      }
      .home__navlink {
        img {
          width: clamp(6.6rem, 3.85vw, 7.2rem);
        }
      }
    }
    h1 {
      font-family: inherit;
      font-size: clamp(2.2rem, 1.55vw, 2.6rem);
      color: $white-clr;
      font-weight: 500;
      padding-inline: clamp(3.2rem, 2.25vw, 4rem);
      margin-bottom: clamp(2rem, 3.1vh, 2.6rem);
    }
  }
  &__section {
    padding-inline: clamp(3.2rem, 2.25vw, 4rem);
    display: flex;
    flex-direction: column;
    row-gap: clamp(3.2rem, 4.5vh, 4rem);
  }
  &__subsection {
    h2 {
      color: $grey-clr--500;
      font-family: inherit;
      font-size: clamp(2rem, 1.45vw, 2.4rem);
      font-weight: 500;
      margin-bottom: clamp(1rem, 2.3vh, 1.8rem);
      letter-spacing: 0.1rem;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: clamp(3rem, 2vw, 6rem);
      li {
        img {
          width: 100%;
        }
      }
    }
  }
}
