.register {
  height: 100vh;
  display: flex;
  &__banner {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    background-image: url("./assets/images/registerBanner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: clamp(8.5rem, 10.5vh, 10rem) clamp(5rem, 3.2vw, 6rem);
    h1 {
      font-size: clamp(4rem, 3.75vw, 7rem);
      font-family: inherit;
      font-weight: 600;
      color: $white-clr;
      line-height: clamp(6rem, 4.75vw, 9rem);
    }
  }
  &__form--wrapper {
    width: 50%;
    background-color: $black-clr;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    padding-block: 2rem;
  }
  &__form--subWrapper {
    width: 60%;
    max-width: 422px;
    min-width: 310px;
    margin-block: auto;
  }
  &__form--heading {
    text-align: center;
    margin-bottom: clamp(4.5rem, 5.5vh, 5rem);
    h2 {
      color: $green-clr--300;
      font-family: singleday, sans-serif;
      font-weight: 400;
      font-size: clamp(5rem, 2.9vw, 5.5rem);
      margin-bottom: clamp(1rem, 2vh, 1.6rem);
    }
    h5 {
      color: $white-clr;
      font-family: dmsans, sans-serif;
      font-weight: 300;
      font-size: 1.8rem;
    }
  }
  &__form {
    .inputWrapper {
      display: flex;
      flex-direction: column;
      row-gap: clamp(1rem, 2.1vh, 1.6rem);
    }
    &--checkbox--container {
      margin-block: clamp(3rem, 4.5vh, 4rem);
    }
    &--checkbox--wrapper {
      display: flex;
      column-gap: clamp(1rem, 1vw, 1.6rem);
      align-items: center;
      input[type="checkbox"] {
        width: clamp(1rem, 1vw, 1.6rem);
        aspect-ratio: 1 / 1;
      }
      label {
        display: inline-block;
        font-size: clamp(1.4rem, 1vw, 1.6rem);
        font-family: dmsans;
        font-weight: 400;
        color: $grey-clr--400;
        cursor: pointer;
      }
    }
    button[type="submit"] {
      width: 100%;
      border-radius: 100px;
      background-color: $green-clr--300;
      color: $white-clr;
      font-family: inherit;
      font-weight: 500;
      font-size: clamp(2rem, 1.3vw, 2.2rem);
      padding-block: clamp(0.6rem, 1.5vh, 1rem);
    }
  }
  &__terms_privacy {
    font-size: clamp(1.3rem, 1vw, 1.5rem);
    font-family: inherit;
    font-weight: 400;
    color: $grey-clr--400;
    margin-top: clamp(1.5rem, 2.5vh, 2rem);
    p {
      line-height: 2.2rem;
    }
    p:first-child {
      margin-bottom: clamp(1.5rem, 2.5vh, 2rem);
    }
    &--links {
      color: $green-clr--300;
    }
  }
}
