$white-clr: #ffffff;
$black-clr: #000000;

$green-clr--300: #72db73;
$green-clr--400: #11b800;
$green-clr--600: #148a08;

$grey-clr--300: #949494;
$grey-clr--400: #7c7c7c;
$grey-clr--500: #878787;
$grey-clr--700: #292929;

$violet-clr--300: #9f94ff;
$violet-clr--500: #5746ea;

$pink-clr--500: #ff4ade;

$darkBlue-clr--800: #101744;

$sandal-clr--500: #f1c75b;

$orange-clr--400: #ff6a6a;

$danger-clr: #ff0000;
