$white-clr: #ffffff;
$black-clr: #000000;
$black-clr--400: #272727;

$green-clr--300: #72db73;
$green-clr--400: #11b800;
$green-clr--600: #148a08;
$green-clr--800: #085c00;

$grey-clr--300: #949494;
$grey-clr--400: #7c7c7c;
$grey-clr--500: #878787;
$grey-clr--700: #292929;

$violet-clr--300: #9f94ff;
$violet-clr--500: #5746ea;

$pink-clr--500: #ff4ade;

$darkBlue-clr--600: #1e2343;
$darkBlue-clr--700: #191e39;
$darkBlue-clr--800: #101744;

$sandal-clr--500: #f1c75b;

$orange-clr--400: #ff6a6a;

$danger-clr: #ff0000;

$action-clr: #ff5209;
$drama-clr: #d7a4ff;
$romance-clr: $green-clr--600;
$thriller-clr: #84c2ff;
$western-clr: #902500;
$horror-clr: #7358ff;
$fantasy-clr: #ff4ade;
$music-clr: #e61e32;
$fiction-clr: #6cd061;

$dropShodow-clr: #5f5858;
