/**Roboto**/
@font-face {
  font-family: roboto;
  src: url("./assets/fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: roboto;
  src: url("./assets/fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: roboto;
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: roboto;
  src: url("./assets/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: roboto;
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: roboto;
  src: url("./assets/fonts/Roboto/Roboto-Black.ttf");
  font-weight: 900;
  font-display: swap;
}

/**Single Day**/
@font-face {
  font-family: singleday;
  src: url("./assets/fonts/SingleDay/SingleDay-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
/**DM SANS**/
@font-face {
  font-family: dmsans;
  src: url("./assets/fonts/DM_Sans/DMSans-Thin.ttf");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: dmsans;
  src: url("./assets/fonts/DM_Sans/DMSans-ExtraLight.ttf");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: dmsans;
  src: url("./assets/fonts/DM_Sans/DMSans-Light.ttf");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: dmsans;
  src: url("./assets/fonts/DM_Sans/DMSans-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: dmsans;
  src: url("./assets/fonts/DM_Sans/DMSans-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: dmsans;
  src: url("./assets/fonts/DM_Sans/DMSans-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: dmsans;
  src: url("./assets/fonts/DM_Sans/DMSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: dmsans;
  src: url("./assets/fonts/DM_Sans/DMSans-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: dmsans;
  src: url("./assets/fonts/DM_Sans/DMSans-Black.ttf");
  font-weight: 900;
  font-display: swap;
}
